################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1/FileContentIndex/b2383325-567a-4473-a45e-286dec863975.vsidx
